*backup*
*.log
*crashes*

# follows: https://wiki.unrealengine.com/Unreal_Project_Git_Workflow_%28Tutorial%29
*/Binaries/*
*/DerivedDataCache/*
*/Intermediate/*
*/Saved/*
*.sln
*.sdf
*.suo

!*/Build/*


# exclude temporary files
*~

# exclude visual studio stuff
*.vcxproj*
*v15*